<nav class="px-gutter py-6 font-body capitalize text-white bg-dark">
  <div class="max-w-container-default mx-auto flex justify-between items-center">
    <a href="/">
      <picture>
        <img class="h-8 lg:h-12" src="/assets/svgs/logo.svg" alt="Red Egg Digital Logo" loading="lazy" decoding="async">
      </picture>
    </a>

    <div class="hidden lg:flex items-center gap-8">
      <a class="font-bold transition-colors hover:text-primary" href="">services</a>
      <a class="font-bold transition-colors hover:text-primary" href="">pricing</a>
      <a class="font-bold transition-colors hover:text-primary" href="">blog</a>
      <a class="button" href="">get started</a>
    </div>
  </div>
</nav>