<nav class="px-gutter font-body py-6 capitalize">
  <div class="max-w-container-default lg:flex-row flex flex-col items-center justify-between gap-8 mx-auto">
    <a href="/">
      <picture>
        <img class="lg:h-12 h-8" src="/assets/svgs/logo.svg" alt="Red Egg Digital Logo" loading="lazy" decoding="async">
      </picture>
    </a>

    <div class="lg:flex items-center gap-8">
      <a class="text-primary flex gap-4 font-bold" href="tel:1-888-420-3790">
        <svg fill="none" height="24" style="margin-left: 17px;" viewBox="0 0 25 24" width="25" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="M12.88 21.75l.01.006c1.667 1.026 3.847.795 5.243-.557l.59-.57c.263-.255.411-.6.411-.961 0-.36-.148-.706-.412-.961l-2.484-2.402c-.263-.255-.62-.398-.993-.398s-.73.143-.994.398v0c-.548.53-1.437.53-1.986 0l-3.971-3.843c-.549-.53-.549-1.39 0-1.921v0c.263-.255.411-.601.411-.961 0-.361-.148-.707-.411-.962L5.81 6.217c-.548-.53-1.437-.53-1.985 0l-.59.57c-1.398 1.351-1.637 3.46-.575 5.073l.005.009c2.721 3.895 6.19 7.249 10.216 9.88v0z" fill-rule="evenodd" stroke="#006730" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"></path>
          <path d="M23.068 2.011l-9.13 8.832M17.45 2.011h5.618v5.435" stroke="#006730" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"></path>
        </svg>
        <span>1-888-420-3790</span>
      </a>
    </div>
  </div>
</nav>