@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply bg-primary text-light p-4 rounded-lg block font-semibold transition-colors hover:bg-light hover:text-primary;
  }



  .text-h1 {
    @apply font-heading font-bold text-4xl lg:text-6xl;
  }
  .text-h2 {
    @apply font-heading font-bold text-3xl lg:text-5xl;
  }
  .text-h3 {
    @apply font-heading font-bold text-2xl lg:text-4xl;
  }
  .text-h4 {
    @apply font-heading font-bold text-xl lg:text-3xl;
  }
  .text-h5 {
    @apply font-heading font-bold text-lg lg:text-2xl;
  }
  .text-h6 {
    @apply font-heading font-bold text-base lg:text-xl;
  }



  .px-gutter {
    @apply px-[5%];
  }
  .py-section-default {
    @apply py-8 lg:py-16;
  }
  .max-w-container-default {
    @apply max-w-screen-lg;
  }
}

@layer base {
  @font-face {
    font-family: "Batangas";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url("assets/fonts/Batangas-Bold.ttf") format("ttf");
  }

  /* dm-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/dm-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/dm-sans-v15-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/dm-sans-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}
