---
title: "Red Egg Digital"
description: "We are the go-to digital marketers for small and medium-sized law firms looking to earn trust and establish authority without the hassle of overspending on advertisements. All done with superb Websites and SEO."
preloadImg: "/"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
  <!-- Script for Netlify Identity -->
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer>
    if (window.netlifyIdentity) {
      window
        .netlifyIdentity
        .on('init', (user) => {
          if (!user) {
            window
              .netlifyIdentity
              .on('login', () => {
                document.location.href = '/admin/';
              });
          }
        });
    }
  </script>

  <!-- JSON Schema Markup -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
        "address": {
          "@type": "PostalAddress"{% if client.address.lineOne %},
            "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
          {% endif %}
          {% if client.address.city %},
            "addressLocality": "{{ client.address.city }}"
          {% endif %}
          {% if client.address.state %},
            "addressRegion": "{{ client.address.state }}"
          {% endif %}
          {% if client.address.zip %},
            "postalCode": "{{ client.address.zip }}"
          {% endif %}
          {% if client.address.country %},
            "addressCountry": "{{ client.address.country }}"
          {% endif %}
        },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
        "sameAs": [{% for platform, url in client.socials %}
            {% if not loop.first %},{% endif %}
            "{{ url }}"
          {% endfor %}]
      {% endif %}
    }
  </script>
{% endblock %}

{% block body %}

  {# ===================================================================== #}
  {#                              Hero Section                             #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default text-light relative">
    <div class="max-w-container-default mx-auto">

      {# Text #}
      <div class="relative z-10 flex flex-col w-1/2 gap-4">
        <h1 class="font-heading text-4xl">
          We Buy Cars. <br> It's What We Do.
        </h1>
        <p class="">Fast. Safe. Easy.</p>

        <div class="flex gap-4">
          <a href="https://www.cashforcars.com/instaquote?lead-source=homepage">Get My Offer</a>
        </div>
      </div>

      {# Image #}
      <div class="drop-shadow-lg">
        <picture>
          <img aria-hidden="true" loading="lazy" decoding="async" src="" alt="" width="" height="">
        </picture>
      </div>

    </div>

    {# Hero Background #}
    <div class="bg-primary absolute inset-0">
      <picture class="w-full h-full overflow-hidden">
        {# Mobile BG Image#}
        <source media="(max-width: 600px)" srcset="">
        {# Desktop BG Image#}
        <source media="(min-width: 601px)" srcset="">
        <img class="absolute inset-0 object-cover w-full h-full" aria-hidden="true" loading="lazy" decoding="async" src="" alt="" aria-hidden="true">
      </picture>
      {# Overlay #}
      <div class="bg-gradient-to-r from-primary to-primary/85 absolute inset-0 w-full h-full"></div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                     Text + Three Blurbs, Centered                     #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default gap-y-8 gap-x-16 flex flex-col mx-auto">
      {# Cards #}
      <div class="lg:grid-cols-3 md:grid-cols-2 grid gap-8">
        <div class="flex flex-col gap-2">
          <h3 class="text-h3">Card Heading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, exercitationem?</p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="text-h3">Card Heading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, exercitationem?</p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="text-h3">Card Heading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, exercitationem?</p>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                        Image + Text, Columned                        #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default lg:grid-cols-2 gap-y-6 gap-x-16 grid mx-auto">
      {# Text #}
      <div class="flex flex-col gap-4">
        <h2 class="text-h2">Image + Text, Columned</h2>
        <p class="max-w-prose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, mollitia. Perspiciatis reprehenderit quam excepturi vero, voluptatum alias nulla esse magni quos sit ducimus quia ea sequi soluta quidem libero. Aliquam.</p>

        <div class="flex gap-4 mt-4">
          <a href="/contact" class="button">Get Started</a>
          <a href="/about" class="button">Learn More</a>
        </div>
      </div>

      {# Image #}
      <div>
        <picture>
          <source media="(min-width: 601px)" srcset="">
          <img src="" width="" height="" alt="">
        </picture>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                        Image + Text, Columned                        #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default lg:grid-cols-2 gap-y-6 gap-x-16 grid mx-auto">
      {# Image #}
      <div>
        <picture>
          <source media="(min-width: 601px)" srcset="">
          <img src="" width="" height="" alt="">
        </picture>
      </div>

      {# Text #}
      <div class="flex flex-col gap-4">
        <h2 class="text-h2">Image + Text, Columned</h2>
        <p class="max-w-prose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, mollitia. Perspiciatis reprehenderit quam excepturi vero, voluptatum alias nulla esse magni quos sit ducimus quia ea sequi soluta quidem libero. Aliquam.</p>

        <div class="flex gap-4 mt-4">
          <a href="/contact" class="button">Get Started</a>
          <a href="/about" class="button">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                        Image + Text, Columned                        #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default lg:grid-cols-2 gap-y-6 gap-x-16 grid mx-auto">

      {# Text #}
      <div class="flex flex-col gap-4">
        <h2 class="text-h2">Image + Text, Columned</h2>
        <p class="max-w-prose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, mollitia. Perspiciatis reprehenderit quam excepturi vero, voluptatum alias nulla esse magni quos sit ducimus quia ea sequi soluta quidem libero. Aliquam.</p>

        <div class="flex gap-4 mt-4">
          <a href="/contact" class="button">Get Started</a>
          <a href="/about" class="button">Learn More</a>
        </div>
      </div>

      {# Image #}
      <div>
        <picture>
          <source media="(min-width: 601px)" srcset="">
          <img src="" width="" height="" alt="">
        </picture>
      </div>

    </div>
  </section>

  {# ===================================================================== #}
  {#                             Text, Centered                            #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default mx-auto">
      {# Text #}
      <div class="lg:items-center lg:text-center relative z-10 flex flex-col gap-4">
        <h2 class="text-h2">
          Text, Centered
        </h2>
        <p class="max-w-prose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, mollitia. Perspiciatis reprehenderit quam excepturi vero, voluptatum alias nulla esse magni quos sit ducimus quia ea sequi soluta quidem libero. Aliquam.</p>

        <div class="flex gap-4 mt-4">
          <a href="/contact" class="button">Get Started</a>
          <a href="/about" class="button">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                     Text + Three Blurbs, Centered                     #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default gap-y-8 gap-x-16 flex flex-col mx-auto">
      {# Text #}
      <div class="lg:items-center lg:text-center flex flex-col gap-4">
        <h2 class="text-h2">Text + Three Blurbs, Centered</h2>
        <p class="max-w-prose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, mollitia. Perspiciatis reprehenderit quam excepturi vero, voluptatum alias nulla esse magni quos sit ducimus quia ea sequi soluta quidem libero. Aliquam.</p>
      </div>

      {# Cards #}
      <div class="lg:grid-cols-3 md:grid-cols-2 grid gap-8">
        <div class="flex flex-col gap-2">
          <h3 class="text-h3">Card Heading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, exercitationem?</p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="text-h3">Card Heading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, exercitationem?</p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="text-h3">Card Heading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, exercitationem?</p>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                        Image + Text, Columned                        #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default lg:grid-cols-2 gap-y-6 gap-x-16 grid mx-auto">
      {# Image #}
      <div>
        <picture>
          <source media="(min-width: 601px)" srcset="">
          <img src="" width="" height="" alt="">
        </picture>
      </div>

      {# Text #}
      <div class="flex flex-col gap-4">
        <h2 class="text-h2">Image + Text, Columned</h2>
        <p class="max-w-prose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, mollitia. Perspiciatis reprehenderit quam excepturi vero, voluptatum alias nulla esse magni quos sit ducimus quia ea sequi soluta quidem libero. Aliquam.</p>

        <div class="flex gap-4 mt-4">
          <a href="/contact" class="button">Get Started</a>
          <a href="/about" class="button">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                     Text + Three Blurbs, Centered                     #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default gap-y-8 gap-x-16 flex flex-col mx-auto">
      {# Cards #}
      <div class="lg:grid-cols-3 md:grid-cols-2 grid gap-8">
        <div class="flex flex-col gap-2">
          <h3 class="text-h3">Card Heading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, exercitationem?</p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="text-h3">Card Heading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, exercitationem?</p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="text-h3">Card Heading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, exercitationem?</p>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                             Blank Section                             #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default mx-auto"></div>
  </section>

{% endblock %}