---
title: "Red Egg Digital"
description: "We are the go-to digital marketers for small and medium-sized law firms looking to earn trust and establish authority without the hassle of overspending on advertisements. All done with superb Websites and SEO."
preloadImg: "/"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
  <!-- Script for Netlify Identity -->
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer>
    if (window.netlifyIdentity) {
      window
        .netlifyIdentity
        .on('init', (user) => {
          if (!user) {
            window
              .netlifyIdentity
              .on('login', () => {
                document.location.href = '/admin/';
              });
          }
        });
    }
  </script>

  <!-- JSON Schema Markup -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
        "address": {
          "@type": "PostalAddress"{% if client.address.lineOne %},
            "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
          {% endif %}
          {% if client.address.city %},
            "addressLocality": "{{ client.address.city }}"
          {% endif %}
          {% if client.address.state %},
            "addressRegion": "{{ client.address.state }}"
          {% endif %}
          {% if client.address.zip %},
            "postalCode": "{{ client.address.zip }}"
          {% endif %}
          {% if client.address.country %},
            "addressCountry": "{{ client.address.country }}"
          {% endif %}
        },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
        "sameAs": [{% for platform, url in client.socials %}
            {% if not loop.first %},{% endif %}
            "{{ url }}"
          {% endfor %}]
      {% endif %}
    }
  </script>
{% endblock %}

{% block body %}

  {# ===================================================================== #}
  {#                              Hero Section                             #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default text-light relative">
    <div class="max-w-container-default mx-auto">

      {# Text #}
      <div class="relative z-10 flex flex-col w-1/2 gap-4">
        <h1 class="font-heading text-4xl">
          We Buy Cars. <br> It's What We Do.
        </h1>
        <p class="">Fast. Safe. Easy.</p>

        <div class="flex gap-4">
          <a href="https://www.cashforcars.com/instaquote?lead-source=homepage">Get My Offer</a>
        </div>
      </div>
    </div>

    {# Hero Background #}
    <div class="bg-primary absolute inset-0 overflow-hidden">
      <picture class="absolute w-full h-full overflow-hidden">
        {# Mobile BG Image#}
        <source media="(max-width: 600px)" srcset="/assets/images/home/hero.webp">
        {# Desktop BG Image#}
        <source media="(max-width: 600px)" srcset="/assets/images/home/hero.webp">
        <img class="object-cover w-full h-full" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/hero.webp" alt="" aria-hidden="true">
      </picture>
      {# Overlay #}
      <div class="bg-gradient-to-r from-black absolute inset-0 w-full h-full"></div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                     Text + Three Blurbs, Centered                     #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default gap-y-8 gap-x-16 flex flex-col mx-auto">
      {# Cards #}
      <div class="lg:grid-cols-3 md:grid-cols-2 grid gap-8 text-center">
        <div class="flex flex-col items-center gap-2">
          <picture class="">
            {# Mobile Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/process-1.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/process-1.webp">
            <img class="" width="164" height="121" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/process-1.webp" alt="" aria-hidden="true">
          </picture>

          <h3 class="text-h3">Get an Offer</h3>
          <p>Find Your Car's Value Online or Call <a href="tel:+18886574599">
              <strong>1-888-420-3790</strong>
            </a>
          </p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <picture class="">
            {# Image Image #}
            <source media="(min-width: 601px)" srcset="/assets/images/home/process-2.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/process-2.webp">
            <img class="" width="174" height="121" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/process-2.webp" alt="" aria-hidden="true">
          </picture>

          <h3 class="text-h3">Accept & Set Up Pickup</h3>
          <p>Accept Our Offer & Schedule a Convenient Pickup Time</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/process-3.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/process-3.webp">
            <img class="" width="177" height="121" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/process-3.webp" alt="" aria-hidden="true">
          </picture>

          <h3 class="text-h3">Get Paid</h3>
          <p>We Deliver Your Payment When We Pickup Your Car.</p>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                        Image + Text, Columned                        #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default lg:grid-cols-2 gap-y-6 gap-x-16 grid mx-auto">
      {# Text #}
      <div class="flex flex-col gap-4">
        <h2 class="text-h2">We Buy Any Car in Any Condition</h2>
        <p class="max-w-prose">We're here to make it easier to buy and sell cars in any condition, running or not. We buy from like new to barely a vehicle. We're a part of Copart.com, with its deep background in salvage vehicles. We see the value in any car, and back it up with our risk-free, obligation-free offers.</p>

        <div class="flex gap-4 mt-4">
          <a href="https://www.cashforcars.com/instaquote?lead-source=homepage" class="button">Get an Instant Offer</a>
        </div>
      </div>

      {# Image #}
      <div>
        <picture class="">
          {# Image Image#}
          <source media="(min-width: 601px)" srcset="/assets/images/home/we-buy-any-car.webp">
          {# Desktop Image#}
          <source media="(min-width: 601px)" srcset="/assets/images/home/we-buy-any-car.webp">
          <img class="" width="435" height="394" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/we-buy-any-car.webp" alt="" aria-hidden="true">
        </picture>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                        Image + Text, Columned                        #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default lg:grid-cols-2 gap-y-6 gap-x-16 grid mx-auto">
      {# Image #}
      <div>
        <picture class="">
          {# Image Image#}
          <source media="(min-width: 601px)" srcset="/assets/images/home/cash-for-cars-locations.webp">
          {# Desktop Image#}
          <source media="(min-width: 601px)" srcset="/assets/images/home/cash-for-cars-locations.webp">
          <img class="" width="435" height="394" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/cash-for-cars-locations.webp" alt="" aria-hidden="true">
        </picture>
      </div>

      {# Text #}
      <div class="flex flex-col gap-4">
        <h2 class="text-h2">Cash for Cars Locations</h2>
        <p class="max-w-prose">With 200 locations nationwide, we're probably located near you. And even if we're not, we provide free nationwide towing to make selling your car fast, safe and easy.</p>

        <div class="flex gap-4 mt-4">
          <a href="https://www.cashforcars.com/locations/" class="button">Find a Location</a>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                        Image + Text, Columned                        #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default lg:grid-cols-2 gap-y-6 gap-x-16 grid mx-auto">

      {# Text #}
      <div class="flex flex-col gap-4">
        <h2 class="text-h2">Guaranteed Quotes in About Two Minutes</h2>
        <p class="max-w-prose">We can get you an offer on your vehicle in about two minutes. We have decades of experience in buying and selling vehicles, along with advanced technology to know exactly what a vehicle is worth in any time and place. The best way for us to prove it is for you to try us.</p>

        <div class="flex gap-4 mt-4">
          <a href="https://www.cashforcars.com/instaquote" class="button">Get an Instant Offer</a>
        </div>
      </div>

      {# Image #}
      <div>
        <picture class="">
          {# Image Image#}
          <source media="(min-width: 601px)" srcset="/assets/images/home/guaranteed-quotes.webp">
          {# Desktop Image#}
          <source media="(min-width: 601px)" srcset="/assets/images/home/guaranteed-quotes.webp">
          <img class="" width="435" height="394" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/guaranteed-quotes.webp" alt="" aria-hidden="true">
        </picture>
      </div>

    </div>
  </section>

  {# ===================================================================== #}
  {#                             Text, Centered                            #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default bg-primaryLight">
    <div class="max-w-container-default mx-auto">
      {# Text #}
      <div class="lg:items-center lg:text-center relative z-10 flex flex-col gap-4">
        <h2 class="text-h2">
          Why Choose CashForCars.com?
        </h2>
        <p class="max-w-prose font-bold">Our mission is to help you <span class="text-primary">sell your unwanted vehicle fast</span>, safe and easy. No online ads. No dealing with dealer lots and salesmen. We give you an <span class="text-primary">offer</span>, you accept it, then we take away your vehicle and leave you with <span class="text-primary">money</span>.</p>

        <ul class="text-start">
          <li class="list-disc">We buy cars, running or not.</li>
          <li class="list-disc">We make selling your car, as well as your SUV, truck, boat, trailer, powersport or any other kind of vehicle fast, safe and easy.</li>
          <li class="list-disc">Our car buyers have inside expertise and insight to know exactly what a car is worth at any time and place.</li>
          <li class="list-disc">Cash for Cars is nationwide with 200 locations, so you can get an offer in about two minutes and get paid in about 24 hours.</li>
        </ul>

        <div class="flex gap-4 mt-4">
          <a href="https://www.cashforcars.com/instaquote?lead-source=homepage" class="button">Get an Instant Offer</a>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                     Text + Three Blurbs, Centered                     #}
  {# ===================================================================== #}
  <section class="bg-secondary px-gutter py-section-default text-white">
    <div class="max-w-container-default gap-y-8 gap-x-16 flex flex-col mx-auto">
      {# Text #}
      <div class="lg:items-center lg:text-center flex flex-col gap-4">
        <h2 class="text-h2">We Buy Any Vehicle</h2>
      </div>

      {# Cards #}
      <div class="lg:grid-cols-3 md:grid-cols-2 grid gap-8 text-center">
        <div class="flex flex-col items-center gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/car.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/car.webp">
            <img class="" width="112" height="68" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/car.webp" alt="" aria-hidden="true">
          </picture>
          <h3 class="text-h3">Cars</h3>
        </div>
        <div class="flex flex-col items-center gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/suv.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/suv.webp">
            <img class="" width="112" height="68" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/suv.webp" alt="" aria-hidden="true">
          </picture>
          <h3 class="text-h3">SUVs</h3>
        </div>
        <div class="flex flex-col items-center gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/bike.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/bike.webp">
            <img class="" width="112" height="68" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/bike.webp" alt="" aria-hidden="true">
          </picture>
          <h3 class="text-h3">Motorcycles</h3>
        </div>
        <div class="flex flex-col items-center gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/boat.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/boat.webp">
            <img class="" width="112" height="68" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/boat.webp" alt="" aria-hidden="true">
          </picture>
          <h3 class="text-h3">Boats</h3>
        </div>
        <div class="flex flex-col items-center gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/truck.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/truck.webp">
            <img class="" width="112" height="68" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/truck.webp" alt="" aria-hidden="true">
          </picture>
          <h3 class="text-h3">Trucks</h3>
        </div>
        <div class="flex flex-col items-center gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/rv.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/rv.webp">
            <img class="" width="112" height="68" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/home/rv.webp" alt="" aria-hidden="true">
          </picture>
          <h3 class="text-h3">RVs</h3>
        </div>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                        Image + Text, Columned                        #}
  {# ===================================================================== #}
  <section class="bg-secondaryLight px-gutter py-section-default">
    <div class="max-w-container-default lg:grid-cols-2 gap-y-6 gap-x-16 grid mx-auto">
      {# Image #}
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y1nTFxIOC8M?si=0WdDSIHBcvLSb11F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      {# Text #}
      <div class="flex flex-col gap-4">
        <iframe title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/53aa8807dec7e10d38f59f32/index.html?businessunitId=541341d100006400057a4a94&amp;templateId=53aa8807dec7e10d38f59f32#fontFamily=Hind%20Siliguri&amp;locale=en-US&amp;styleHeight=150px&amp;styleWidth=100%25&amp;theme=light" style="position: relative; height: 150px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                     Text + Three Blurbs, Centered                     #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default gap-y-8 gap-x-16 flex flex-col items-center mx-auto">
      {# Text #}
      <div class="lg:items-center lg:text-center flex flex-col gap-4">
        <h2 class="text-h2">Recent Purchases</h2>
      </div>

      {# Cards #}
      <div class="lg:grid-cols-3 md:grid-cols-2 grid gap-8">
        <div class="flex flex-col gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/recent-purchase-1.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/recent-purchase-1.webp">
            <img class="" width="392" height="308" loading="lazy" decoding="async" src="/assets/images/home/recent-purchase-1.webp" alt="Chevrolet Truck" aria-hidden="true">
          </picture>
        </div>
        <div class="flex flex-col gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/recent-purchase-2.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/recent-purchase-2.webp">
            <img class="" width="392" height="308" loading="lazy" decoding="async" src="/assets/images/home/recent-purchase-2.webp" alt="Damaged SUV" aria-hidden="true">
          </picture>
        </div>
        <div class="flex flex-col gap-2">
          <picture class="">
            {# Image Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/recent-purchase-3.webp">
            {# Desktop Image#}
            <source media="(min-width: 601px)" srcset="/assets/images/home/recent-purchase-3.webp">
            <img class="" width="392" height="308" loading="lazy" decoding="async" src="/assets/images/home/recent-purchase-3.webp" alt="Damaged BMW Sedan" aria-hidden="true">
          </picture>
        </div>
      </div>

      <div class="flex gap-4 mt-4">
        <a href="https://www.cashforcars.com/instaquote?lead-source=homepage" class="button">Get an Instant Offer</a>
      </div>
    </div>
  </section>

  {# ===================================================================== #}
  {#                             Blank Section                             #}
  {# ===================================================================== #}
  <section class="px-gutter py-section-default">
    <div class="max-w-container-default mx-auto"></div>
  </section>

{% endblock %}